defaults:
  - /train/base@_here_

training:
  output_dir: 'trainer_output'
  report_to: 'wandb'
  use_cpu: false
  bf16: true
  do_train: true
  do_eval: true
  overwrite_output_dir: false
  resume_from_checkpoint: null
  seed: 42
  learning_rate: 2e-4
  per_device_train_batch_size: 16
  per_device_eval_batch_size: 16
  gradient_accumulation_steps: 1
  weight_decay: 0.0
  eval_strategy: 'steps'
  eval_steps: 500
  max_steps: 60000
  logging_strategy: 'steps'
  logging_steps: 10
  save_strategy: 'steps'
  save_steps: 5000
  save_total_limit: 3
  load_best_model_at_end: true
  metric_for_best_model: 'loss'
  greater_is_better: false
  push_to_hub: false
  dataloader_drop_last: true

data:                  # Data settings
  sampling_rate: ${..model.spectrogram.sampling_rate}
  hop_length: ${..model.spectrogram.hop_length}
  cycle_length: 16
  drop_last: true
  only_last_beatmap: false  # Only use the last beatmap in the mapset
  center_pad_decoder: false            # Center pad decoder input
  num_diff_classes: 24  # Number of difficulty classes
  max_diff: 12          # Maximum difficulty of difficulty classes
  num_cs_classes: 21     # Number of circle size classes
  class_dropout_prob: 0.2
  diff_dropout_prob: 0.2
  mapper_dropout_prob: 0.2
  cs_dropout_prob: 0.2
  year_dropout_prob: 0.2
  hold_note_ratio_dropout_prob: 0.2
  scroll_speed_ratio_dropout_prob: 0.2
  tag_dropout_prob: 0.2
  add_empty_sequences: true
  add_empty_sequences_at_step: -1
  add_pre_tokens_at_step: -1
  max_pre_token_len: -1
  timing_random_offset_2: 0
  timing_random_offset_prob: 1.0  # Probability of using random timing offset
  add_gd_context: false  # Prefix the decoder with tokens of another beatmap in the mapset
  min_difficulty: 0     # Minimum difficulty to consider including in the dataset
  max_difficulty: 100   # Maximum difficulty to consider including in the dataset
  sample_weights_path: ''    # Path to sample weights
  label_smoothing: 0.0  # Label smoothing for the loss calculation
  lookback: 0             # Fraction of audio sequence to fill with tokens from previous inference window
  lookahead: 0            # Fraction of audio sequence to skip at the end of the audio window
  lookback_prob: 0.0  # Probability of using the lookback augmentation for a beatmap in the dataset
  tags_path: ''   # Path to file with all beatmap tags
  position_range: [-256, 768, -256, 640]  # Range of hit object coordinates
  dt_augment_sqrt: false  # Sample DT augmentation from a square root distribution
  min_year: null  # Minimum year of the beatmap to include in the dataset
  max_year: null  # Maximum year of the beatmap to include in the dataset
  frame_offset_augment_prob: 1.0  # Probability of augmenting beatmap sequences with frame offset
  normalize_audio: true  # Normalize audio data
  slider_version: 1  # Slider version to use (1 or 2)
  dataset_type: "mmrs"
  train_dataset_paths: ["/workspace/datasets/MMRS39389"]
  test_dataset_paths: ["/workspace/datasets/MMRS39389"]
  train_dataset_start: 0
  train_dataset_end: 38689
  test_dataset_start: 38689
  test_dataset_end: 39389
  num_classes: 152680
  # All Special Prefix Tokens
  add_out_context_types: true  # Add tokens indicating types of the out context
  add_gamemode_token: true
  add_style_token: false
  add_diff_token: false
  add_mapper_token: false
  add_year_token: true
  add_hitsounded_token: true  # Add token for whether the map has hitsounds
  add_song_length_token: false  # Add token for the length of the song
  add_global_sv_token: true  # Add token for the global slider velocity in std and ctb
  add_cs_token: true
  add_keycount_token: true  # Add token for the number of keys in mania
  add_hold_note_ratio_token: true  # Add token for the ratio of hold notes in mania
  add_scroll_speed_ratio_token: true  # Add token for the scroll speed ratio in mania
  add_tags: true  # Add beatmap tag tokens
  add_sv_special_token: true  # Add token for last SV value
  add_kiai_special_token: true  # Add token for last kiai state
  add_song_position_token: false  # Add token for the position of the song in the mapset
  # ---
  timing_random_offset: 2
  src_seq_len: 4096
  tgt_seq_len: 8192
  rhythm_weight: 1.0    # Weight of rhythm tokens in the loss calculation
  context_weights: [4, 1, 1]    # List of weights for each context type. Determines how often each context type is sampled
  mappers_path: "./datasets/beatmap_users.json"       # Path to file with all beatmap mappers
  add_timing: false      # Interweave timing tokens with the beatmap tokens
  add_snapping: true    # Model hit object snapping
  add_timing_points: true  # Model beatmap timing with timing points
  add_hitsounds: true   # Model beatmap hitsounds
  add_pre_tokens: false
  per_track: true
  add_distances: true   # Model hit object distances
  add_positions: true
  position_precision: 4 # Precision of hit object coordinates
  position_split_axes: true  # Split hit object X and Y coordinates into separate tokens
  dt_augment_prob: 0.5   # Probability of augmenting the dataset with DT
  dt_augment_range: [1.25, 1.5]  # Range of DT augmentation
  types_first: true       # Put the type token at the start of the group before the timeshift token
  add_kiai: false        # Model kiai times
  gamemodes: [0, 1, 2, 3]  # List of gamemodes to include in the dataset
  mania_bpm_normalized_scroll_speed: true  # Normalize mania scroll speed by BPM
  add_sv: true  # Model slider velocity in std and ctb
  add_mania_sv: false  # Add mania scroll velocity in map context

hydra:
  job:
    chdir: True
  run:
    dir: ./logs/${now:%Y-%m-%d}/${now:%H-%M-%S}